<header th:fragment="navbar">
    <nav>
        <div class="logo">
            <h1><a th:href="@{/}">TrackIt</a></h1>
        </div>
        <ul>
            <li th:if="${@userHelperService.isAuthenticated()}"><a th:href="@{/home}">Home</a></li>
            <li th:unless="${@userHelperService.isAuthenticated()}"><a th:href="@{/register}">Register</a></li>
            <li th:unless="${@userHelperService.isAuthenticated()}"><a th:href="@{/login}">Login</a></li>
            <li th:if="${@userHelperService.isAuthenticated()}"><a th:href="@{/profile}"><i class="fas fa-user"></i> Profile</a></li>
            <li th:if="${@userHelperService.isAuthenticated()}">
                <form th:action="@{/logout}" th:method="post" style="display: inline;">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
