<header th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav>
        <div class="logo">
            <h1><a th:href="@{/}">TrackIt</a></h1>
        </div>
        <ul>
            <li th:if="${@userHelperService.isAuthenticated()}"><a th:href="@{/home}" th:text="#{nav_bar_home}">Home</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}" th:text="#{nav_bar_admin}">Admin</a></li>
            <li th:unless="${@userHelperService.isAuthenticated()}"><a th:href="@{/register}" th:text="#{register_title}">Register</a></li>
            <li th:unless="${@userHelperService.isAuthenticated()}"><a th:href="@{/login}" th:text="#{login_title}">Login</a></li>
            <li th:if="${@userHelperService.isAuthenticated()}"><a th:href="@{/profile}" th:text="#{nav_bar_profile}"><i class="fas fa-user"></i> Profile</a></li>
            <li th:if="${@userHelperService.isAuthenticated()}">
                <form th:action="@{/logout}" th:method="post" style="display: inline;">
                    <button type="submit" class="logout-button" th:text="#{nav_bar_logout}">Logout</button>
                </form>
            </li>
            <li class="nav-item language-selector">
                <form th:method="get">
                    <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
                    <select id="lang" name="lang" onchange="this.form.submit()">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        <option value="de_DE" th:selected="${#locale.toString()} == 'de_DE'">Deutsch</option>
                    </select>
                </form>
            </li>
        </ul>
    </nav>
</header>
