<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{addToSavings_title}">Add to Savings</title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/add-from-budget.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="content-wrapper">
    <div class="container">
        <h1 th:text="#{addToSavings_heading}">Add to Savings</h1>
        <form th:action="@{/savings/add-amount/budget/{id}(id=${id})}" th:method="post" th:object="${fromBudget}">
            <div class="form-group">
                <p th:if="${invalid}" th:text="#{addToSavings_insufficientFunds}">You don't have enough money for this</p>
                <label for="categoryName" th:text="#{addToSavings_selectBudget}">Select Budget</label>
                <select id="categoryName" name="categoryName" required>
                    <option th:each="budget : ${budgets}" th:text="${budget.categoryName}" th:value="${budget.categoryName}">Low Budget</option>
                    <p th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></p>
                </select>
            </div>
            <div class="form-group">
                <label for="newAmount" th:text="#{addToSavings_amountLabel}">Amount</label>
                <input type="number" id="newAmount" name="newAmount" min="0" placeholder="#" th:placeholder="#{addToSavings_amountPlaceholder}" required>
                <p th:if="${#fields.hasErrors('newAmount')}" th:errors="*{newAmount}"></p>
            </div>
            <button type="submit" th:text="#{add_new}">Add</button>
        </form>
    </div>
</div>
</body>
</html>
