<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{categories_title}">Category List</title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/all-categories.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1 th:text="#{categories_title}">Category List</h1>
    <a th:href="@{/categories/create}" class="add-category-btn" th:text="#{categories_add_button}">Add Category</a>
    <div class="category-list">
        <div class="category-item" th:each="category : ${categories}">
            <h2 th:text="${category.categoryName}">Category 1</h2>
            <p th:text="#{categories_description} + ': ' + ${category.description}"></p>
            <div th:unless="${category.userId == 1}" class="btn-container">
                <a class="delete-btn" th:href="@{'/delete-category/' + ${category.categoryName}}" th:text="#{categories_delete_button}">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="home-button-container">
    <a class="home-btn" th:href="@{/home}" th:text="#{home_btn}">Home Page</a>
</div>
</body>
</html>
