<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{addcategory_title}">Add Category</title>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/create-category.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="content-wrapper">
    <div class="category-form-container">
        <h2 th:text="#{addcategory_heading}">Add Category</h2>
        <form th:action="@{/categories/create}" th:method="post" th:object="${categoryData}">
            <p th:if="${occupied}" th:text="#{addcategory_exists}">Category with these name already exists</p>

            <div class="form-group">
                <label for="name" th:text="#{addcategory_name}">Category Name</label>
                <input th:field="*{name}" type="text" id="name" name="name" required>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label for="description" th:text="#{addcategory_description}">Description</label>
                <textarea th:field="*{description}" id="description" name="description" rows="4" required></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
            <button type="submit" th:text="#{addcategory_button}">Add Category</button>
        </form>
    </div>
</div>
</body>
</html>
