<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="registration-flex">
    <div class="registration-form">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="input-icon">
                <label for="username">Username</label>
                <i class="fas fa-user"></i>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-icon">
                <label for="email">Email Address</label>
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-icon">
                <label for="password">Password</label>
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-icon">
                <label for="confirm-password">Confirm Password</label>
                <i class="fas fa-lock"></i>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>
